<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ifoundyou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.example.ifoundyou.LocationServiceHandler"
            android:exported="false" />

        <activity
            android:name="com.example.ifoundyou.IFoundYouMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ifoundyou.IFoundYouHomeActivity"
            android:label="@string/title_activity_ifound_you_home" >
        </activity>
        <activity
            android:name="com.example.ifoundyou.IFoundYouRegisterActivity"
            android:label="@string/title_activity_ifound_you_register" >
        </activity>
        <activity
            android:name="com.example.ifoundyou.IFoundYouLoginActivity"
            android:label="@string/title_activity_ifound_you_login" >
        </activity>
        <activity
            android:name="com.example.ifoundyou.IFoundYouAddBudActivity"
            android:label="@string/title_activity_add_bud" >
        </activity>
        <activity
            android:name="com.example.ifoundyou.IFoundYouYourBudActivity"
            android:label="@string/title_activity_ifound_you_your_bud" >
        </activity>
        <activity
            android:name="com.example.ifoundyou.MyListActivity"
            android:label="@string/title_activity_ifound_you_register" >
        </activity>
        <activity
            android:name="com.example.ifoundyou.IFoundYouFriendLocationActivity"
            android:label="@string/title_activity_friend_location" >
        </activity>
    </application>

</manifest>
